.controls {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1rem;
}

.controls a {
	padding: 0.5rem;
	border: 1px var(--light) solid;
	border-radius: 0.2rem;

	color: var(--dark);
	text-decoration: none;
}

.controls a p {
	margin: 0;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.body {
	text-align: justify;
}
