@import url('https://use.typekit.net/zsi8dan.css');

* {
	--blue: #252E45;
	--yellow: #F2DE8B;
	--white: #EDEDED;
	--light: #39456A;
	--dark: #1D2335;
}

body {
	margin: 0;
	padding: 0;

	background-color: var(--dark);
	color: var(--dark);

	font-size: 18px;
	font-family: corporate-s, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:  'muli, sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 0 1rem 0;
}
