@import url('https://use.typekit.net/zsi8dan.css');

* {
	--red: #cb303b;
	--blue: #4979db;
	--white: #ededed;
	--light: #d8dada;
	--dark: #444444;
	--black: #1c1c1c;
}

body {
	margin: 0;
	padding: 0;

	background-color: var(--black);
	color: var(--black);

	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'bebas-neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
main picture {
	margin: 0 0 1rem 0;
}
