.navbar {
	padding: 1rem 0rem;

	background-color: var(--blue);
}

.navbar > nav {
	max-width: 40rem;
	padding: 0rem 2rem;
	margin: auto;
}

.navbar > nav,
.items {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 1rem;
}

.navbar a {
	text-decoration: none;
	color: var(--light);
	transition: color 0.3s;
}

.navbar a:hover,
.navbar .active {
	color: var(--white);
}

.navbar .home {
	aspect-ratio: 1;

	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar svg {
	height: 2rem;
	float: left;
}

.home svg {
	margin-right: 1rem;
}

.navbar a:not(.home) {
	padding: 0.5rem;
	border: 1px var(--dark) solid;
	border-radius: 0.2rem;
}

.hamburger {
	display: none;
}

@media (max-width: 44rem) {
	.navbar > nav {
		justify-content: space-between;
		position: relative;
	}

	.items:not(.active) {
		display: none;
	}

	.items.active {
		background-color: var(--black);
		border-radius: 0 0 0.2rem 0.2rem;
		width: calc(100vw - 6rem);
		padding: 1rem;

		position: absolute;

		align-items: baseline;
		flex-direction: column;

		gap: 1rem;

		transform: translate(-50%, 0%);
		top: calc(100% + 1rem);
		left: 50%;
	}

	.items a {
		width: calc(100% - 1rem);
	}

	.hamburger {
		display: inline-block;
		color: var(--white);
		height: 2rem;
		cursor: pointer;
	}
}
