.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 1rem;
	gap: 1rem;

	background-color: var(--black);
}

.navbar a {
	text-decoration: none;
	color: var(--light);
	transition: color 0.3s;
}

.navbar a:hover {
	color: var(--white);
}

.navbar svg {
	height: 2rem;
	float: left;
}

.navbar span {
	padding: 0.5rem;
	border: 1px var(--dark) solid;
	border-radius: 0.2rem;
}
