.navbar {
	padding: 1rem 0rem;

	background-color: var(--black);
}

.navbar > nav {
	max-width: 40rem;
	padding: 0rem 2rem;
	margin: auto;

	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 1rem;
}

.navbar a {
	text-decoration: none;
	color: var(--light);
	transition: color 0.3s;
}

.navbar a:hover {
	color: var(--white);
}

.navbar svg {
	height: 2rem;
	float: left;
	margin-right: 1rem;
}

.navbar span {
	padding: 0.5rem;
	border: 1px var(--dark) solid;
	border-radius: 0.2rem;
}
