.links {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.links a {
	padding: 0.5rem;
	border: 1px var(--light) solid;
	border-radius: 0.2rem;

	color: var(--dark);
	text-decoration: none;
}
