p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Libre Franklin";
}

.links {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.links a {
	padding: 0.5rem;
	border: 1px var(--light) solid;
	border-radius: 0.2rem;

	color: var(--dark);
	text-decoration: none;
}
