.tiers {
	display: flex;
	flex-direction: column;

	gap: 4rem;
}

.tier h3 {
	text-align: center;
}

.sponsors {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.sponsors.Xcellent {
	flex-direction: row;
	flex-wrap: wrap;
}

.image {
	width: auto;
}

.Xtragalactic .image {
	max-height: 5rem;
}

.Xtraordinary .image {
	max-height: 3rem;
}

.Xceptional .image {
	max-height: 2rem;
}

.Xcellent p {
	margin: 0;
}
